


.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.margin-primary{
    margin: 0px 160px;
}
.text-primary {
    color: rgba(14, 14, 14, 0.5)

}

.text-secondary{
    background-color: rgb(245, 245, 245)
}

.bg-primary{
    background-color: #C6E4D6;
}


.btn-primary{
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border: 1px;
    color: rgb(255, 255, 255);

}

.btn-secondary{
    padding: 11px 20px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 16px;
    border: 1px;
}

.btn-tertiary{
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    padding: 10px 14px;
    background-color: #C6E4D6;
    font-size: 16px;
    font-weight: 500;
}

.picture-primary{
    border-radius: 24px;
    margin: 0px 32px;
}

/* header-style */
.parent{
    gap: 64px;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 160px;
}

.nav-title{
    font-weight: 700;
    font-size: 32px;
}

nav a {
    font-weight: 600;
    font-size: 18px;
    color: rgb(0, 106, 80);
}

nav a button{
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
padding: 15 30;
margin: 0 10;
color: rgb(0, 106, 80);
font-size: 18px;
font-weight: 600;
line-height: 22px;
background-color: #F5F5F5;
width: 116px;
height: 52px;
position: static;
text-align: center;
}

/* banner styles */

.banner{
display: flex;
gap: 64px;
padding: 80px 100px;
justify-content: space-between;
align-items: center;
border-radius: 24px;
max-width: 1600px;
height: 560px;

}

.banner-content{
    /* max-width: 622px; */
}

.banner-title{
font-size: 24px;
font-weight: 500;



}

.banner-description{
font-size: 62px;
font-weight: 700;
width: 622px;
height: 201px;
opacity: 100%;
}

.explore-new-bangladesh{
    padding: 17px 34px;
}

.banner-photo{
width: 474.03px;
height: 329.21px;
}

main{
    max-width: 1600px;
    margin: 0 auto;
}

main section{
    margin-top: 120px;
    margin-bottom: 120px;
}
/* pillar section style */

.pillars-container {
    display: flex;
    gap: 24px;
}

.section-title{
    font-size: 40px;
    font-weight: 700;
}

.pillar{
    padding: 24px;
    box-shadow: 14px 14px 14px 0.1px rgba(14, 14, 14, 0.15);
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);

}

.pillar-title {
    font-weight: 700;
    font-size: 20px;
}

/* vision section style */
.vision-container{
    display: flex;
    flex-direction: row;
    gap: 26px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.vision{
    border-radius: 16px;
    padding: 32px;
}

.vision-description{

}

.first{
    background: rgba(84, 144, 245, 0.2);
}

.second{
    background: rgb(198, 228, 214);
}

.third{
    background: rgb(247, 235, 207);
}

.btn-blue{
background-color: rgb(84, 144, 245);
}
.btn-green{
    background-color: rgb(9, 161, 92);
}
.btn-yellow{
    background-color: rgb(255, 194, 57);
}

.quot-description{
    background: rgb(255, 255, 255);
    border: 1px;
    border-radius: 16px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position:top left;
    padding: 48px 24px;
}

.quot-provider{
    font-size: 20px;
    font-weight: 600;
}

/* table stylle */
.tb{
    background-color: #FFFFFF;
    padding: 32px;
    border-radius: 16px;
}

table{
border-collapse: collapse;
width: 1420px;
height: 450px;
margin: 32px;
padding: 32px;
border: 0px;
border-color: rgba(255, 255, 255, 0.1)

}

td, th{
    border: 1px solid;
    padding: 10px;
}

th{
background-color: #C6E4D6;
height: 72px;
padding: 24px;
font-size: 20px;
font-weight: 600;
}

/* news-section-style */
.Recent-News{
    font-size: 40px;
    font-weight: 700;
}
.recent-description{
font-size: 16px;
font-weight: 400;
}

article{
    display: flex;
}

.article-one{
    border-radius: 24px;
    background: rgb(255, 255, 255);
    margin: 24px 0px;
    gap: 32;
    padding: 48px;
    align-items: center;
    justify-content: flex-start;
}

.article-two{
    flex-direction: row-reverse;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    margin: 24px 0px;
    gap: 32;
    padding: 48px;
    align-items: center;
    justify-content: flex-start;
}

.article-three{
    border-radius: 24px;
    background: rgb(255, 255, 255);
    margin: 24px 0px;
    gap: 32;
    padding: 48px;
    align-items: center;
    justify-content: flex-start;
}

.news-title{
    font-size: 32px;
    font-weight: 700;
}
.news-description{
    font-size: 16px;
    font-weight: 400;
}
.read-more-buttton{
    padding: 13px 26px;
    font-size: 18px;
    font-weight: 600;

}